/* Chat component */


/* The chat component that apply the animation */
.chat {

    position: sticky;
    bottom: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
    height: 25px;
    width: 60rem;
    text-align: center;
    animation-duration: 2.0s;
    animation: ease-in-out;
    background-color: #495464;
    color: #e8e8e8;
    z-index: 200;
}

.header{
    border-bottom: #214252 solid thin;
}

.open {
    height: 400px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.hide {
    display: none;
}

.contacts {
    list-style-type: none;
    width: 30%;
    padding-left: 0;
    float: left;
    border-right: #060930 solid medium;
    height: 375px;
    margin-block-start: 0;
}

.contact {
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
    border-bottom: #214252 solid thin;
}

.contact:hover {
    /* background-color: #8bcdcd; */
    border-left: #8bcdcd solid medium;
}

.messages {
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    float: right;
}

.message {
    background-color: #333456;
    color: white;
    max-width: 80%;
    margin-bottom: 5px;
}

.messageContent {
    padding: 5px 5px 5px 5px;
}

.received {
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    text-align: left;
    margin-right: auto;
}

.sent {
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    text-align: right;
    margin-left: auto;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
    width: 67%;

}

.messageForm {
    display: inline-flex;

}

.messageInput {
}

.submitButton {

}